<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinejudge.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.onlinejudge.model.entity.question.Question">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="questionName" column="question_name" jdbcType="VARCHAR"/>
        <result property="questionContent" column="question_content" jdbcType="VARCHAR"/>
        <result property="questionAnswer" column="question_answer" jdbcType="VARCHAR"/>
        <result property="questionDifficulty" column="question_difficulty" jdbcType="VARCHAR"/>
        <result property="questionType" column="question_type" jdbcType="VARCHAR"/>
        <result property="questionCases" column="question_cases" jdbcType="VARCHAR"/>
        <result property="questionConfig" column="question_config" jdbcType="VARCHAR"/>
        <result property="submissionCount" column="submission_count" jdbcType="INTEGER"/>
        <result property="acceptedCount" column="accepted_count" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="TINYINT"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,question_name,question_content,question_answer,
        question_difficulty,question_type,question_cases,
        question_config,submission_count,accepted_count,
        create_user,edit_time,create_time,
        update_time,is_delete
    </sql>
</mapper>
